{# app/Resources/views/company/add.html.twig #}
<!DOCTYPE HTML>
<HTML>
	<HEAD>
		<TITLE>Agregar empresa</TITLE>
		<LINK REL="stylesheet" href="/styles.css">
	</HEAD>
	<BODY>
		<h1>Agregar empresa</h1>
		{{ form_start(form) }}
		{{ form_end(form) }}
	</BODY>
</HTML>
