{# app/Resources/views/company/modify.html.twig #}
<!DOCTYPE HTML>
<HTML>
	<HEAD>
		<TITLE>Modificar empresa</TITLE>
		<LINK REL="stylesheet" href="/styles.css">
	</HEAD>
	<BODY>
		<h1>Modificar empresa</h1>
		{% if company_id is defined %}
			<div>id: {{ company_id }}</div>
		{% endif %}
		{{ form_start(form) }}
		{{ form_end(form) }}
	</BODY>
</HTML>
