{# app/Resources/views/company/view.html.twig #}
<!DOCTYPE HTML>
<HTML>
	<HEAD>
		<TITLE>Vista de empresas</TITLE>
		<LINK REL="stylesheet" href="/styles.css">
	</HEAD>
	<BODY>
		<h1>Vista de empresas</h1>
		<A HREF='/companies/add'>Agregar empresa</A>
		<TABLE>
			<TR>
				{% for eachField in fields %}
					<TH>{{ eachField[1] }}</TH>
				{% endfor %}
				<TH></TH>
				<TH></TH>
			</TR>
			{% for eachCompany in companies %}
				<TR>
					{% for eachField in fields %}
						<TD>{{ eachCompany[ eachField[0] ] }}</TD>
					{% endfor %}
					<TD><A HREF='/companies/modify?id={{ eachCompany['id'] }}'>Modificar</TD>
					<TD><A HREF='/companies/remove?id={{ eachCompany['id'] }}'>Eliminar</TD>
				</TR>
			{% endfor %}
		</TABLE>

		{% if beforeLinkToId is defined %}
			<A HREF='/companies/view?toId={{ beforeLinkToId }}'
		{% else %}
			<DIV
		{% endif %}
		 STYLE='float:left'>Anteriores
		{% if beforeLinkToId is defined %}
			</A>
		{% else %}
			</DIV>
		{% endif %}

		{% if afterLinkFromId is defined %}
			<A HREF='/companies/view?fromId={{ afterLinkFromId }}'
		{% else %}
			<DIV
		{% endif %}
		 STYLE='float:right'> Siguientes
		{% if afterLinkFromId is defined %}
			</A>
		{% else %}
			</DIV>
		{% endif %}
	</BODY>
</HTML>
