body {
	background-color: white;
}

h1 {
	color: black;
	font-size:150%;
}

p {
	color: black;
	font-size:100%;
}

legend {
	color: black;
	font-size:100%;
}

table, th, td {
	border: 1px solid black;
}
